
/*
Grundfarben:
242 242 242 white   #f2f2f2
200 000 173 purple  #c800ad
082 082 082 grey    #525252
 */

* {
    margin: 0;
    padding: 0;
}

/*div, section, main, footer, header {
    display: grid;
}*/

html {
    height: 100%;
}

body {
    display: grid;
    grid-template-areas:
            "header"
            "nav"
            "main"
            "footer";
    grid-template-rows: 110px 50px auto 50px;
    height: 100%;
    /*background-image: linear-gradient(#424242,#424242,#424242,#424242,#424242,#424242,#424242,#424242,#424242,#424242,#424242,#424242,#424242,#424242,#424242,#424242,#4b3848);*/
    background-color: #424242;
    justify-content: center;
    color: #f2f2f2;
    font-size: 16px;
    font-family: Arial, sans-serif;
}

body > * {
    width: 90vw;
}

footer img {
    width: 10px;
    height: 10px;
}

.clickable:hover, .pseudolink:hover, button:hover {
    cursor: pointer;
}

.pseudolink:hover {
    background-color: #98007d;
}

header {
    display: grid;
    justify-content: center;
}

header #logo {
}

#logo:hover {
    background-color: #323232;
}

header #logo img {
    height: 100px;
}

main {
}

.videovorschau {
    height: 50px;
    width: 50px;
}

section #main {
}

nav {
}

aside {
}

footer {
    color: #a0a0a0;
    font-size: 10px;
}

#mainMain {
    height: 100%;
}

.videovorschau {
}

#videolist {
    flex-direction: column;
}

#videolist > div p {
    font-size: 14px;
}

#videolist > div p b {
    font-size: 16px;
}

.videolistelement {
    margin: 5px;
    display: grid;
    grid-template-columns: 50px 200px 100px;
    column-gap: 5px;
    justify-content: space-between;
    width: 365px;
}

b {
    font-size: inherit;
}

.description {
    text-align: center;
}

#mainNav {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    justify-content: center;
    align-content: center;
    background-image: linear-gradient(#c800ad, #98007d);
    min-width: 350px;
    font-size: 20px;
    /*border-radius: 200px;*/
}

#mainNav > * {
    text-align: center;
    height: 50px;
    display: grid;
    align-content: center;
}

#news {
    display: grid;
    align-content: start;
    grid-template-areas:
            "logo text1"
            "text2 text2";
    grid-template-columns: 30% 70%;
    height: 550px;
    align-self: center;
}

#news > section {
    margin: 40px;
}

.longtext {
    font-size: 1.01em;
    line-height: 25px;
    color: #d2d2d2
}

#welcomeText1 {
    grid-area: text1;
    align-self: center;
}

#welcomeText2 {
    grid-area: text2;
}

#mainsiteContent {
    display: grid;
    grid-template-columns: 80% 20%;
}

#news img {
    grid-area: logo;
    width: 230px;
}

#index {
    display: grid;
    grid-template-columns: 65% 25%;
    justify-content: space-evenly;
}

#index > * {
    margin: 25px 0;
}

.box {
    border: 3px inset #3f3f3f;
    padding: 10px;
    border-radius: 5px;
    background-color: #303030;
}

.intextLogo {
    margin-top: 10px;
    height: 40px;
}

button {
    margin: 5px;
    padding: 5px;
    border-radius: 12px;
    background-image: linear-gradient(to top left, #aa0b95,#FF58E8);
    border: none;
}

b, strong {
    font-size: 1.2em;
}

#eventcounter {
    border-collapse: collapse;
    width: 100%;
}

#eventcounter .header {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    padding-bottom: 10px;
}

#eventcounter tr, #eventcounter td {
    border-bottom: 1px dotted #606060;
    padding: 15px 0;
}

#eventcounter th {
    padding: 20px 0 40px 0;
    font-size: 20px;
}

#eventcounter .date {
    width: 100px;
}

#eventcounter .time {
    width: 60px;
    padding-right: 10px;
}

#eventcounter .title {
    width: 200px;
}

#indexBild {
    width: 500px;
    justify-self: center;
}

#calicon {
    width: 40px;
}