<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/vnd.microsoft.icon" href="bilder/logo/LogoKonzeptSternBackgroundTransparent.ico">
    <title>StarWatch</title>
    <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous">
    </script>

    <link rel="stylesheet" href="style/main.css" type="text/css">
    <link rel="stylesheet" href="style/preview.css" type="text/css">
    <link rel="stylesheet" href="style/serien.css" type="text/css">
    <link rel="stylesheet" href="style/videos.css" type="text/css">
</head>
<body>
<header>
    <section id="logo">
        <img src="bilder/logo/LogoKonzept.png" onclick="navigation('main')" class="clickable">
    </section>
</header>